*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* form {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    align-items: center; 
} */

/* .form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

input{
     */
}